<form action="http://localhost:4567/save_user">
  <input id="name_field" type="text" placeholder="Name" name="user[name]"></input>
  <input id="password_field" type="text" placeholder="Password" name="user[password]"></input>
  <input type="submit"></input>
</form>