<div id="photos_div">
  <div>
    <% Photographer.where(id: params["id"])[0].photos.each do |photo| %>
      <img src=<%= photo.url %>></img>
    <% end %>
  </div>
</div>

<a href="http://localhost:4567/home">Return Home</a>