/* ###### HOMEPAGE ###### */

#albums_button {
  display: block;
  margin: 10px;
}

#album_links {
  display: none;
}

#photographers_button {
  display: block;
  margin: 10px;
}

#photographer_links {
  display: none;
}

#new_photo {
  display: block;
  margin-top: 10px;
}


/* ##### View All Photos ##### */


#photos_div div {
  width: 200px;
}

#photos_div div p {
  text-align: center;
  margin-bottom: 0px;
}

#photos_div img {
  width: 100%;
}

/* ##### Add New Photo ##### */

h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}